@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

.features-section {
    width: 90%;
    margin: 0 auto;
    padding: 50px 0;
}

.features-section h2 {
    text-align: center;
    color: #333;
    margin-bottom: 40px;
    font-family: Montserrat;
    font-size: 50px;
}

.left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}
.left:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); 
}

.left h3{
    font-family: Jost ;
}

.left p{
    font-family: Jost;
    font-weight: 500;
}

.right {
    flex-direction: row-reverse;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.right:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); 
}
.right h3{
    font-family: Jost ;
}
.right p{
    font-family: Jost;
    font-weight: 500;
    color: antiquewhite;
}

.description {
    width: 50%;
    padding: 20px;
}

.description h3 {
    margin-top: 0;
    color: #007BFF;
}

.description p {
    color: #928f9e;
    line-height: 1.6;
}

.photo {
    width: 45%;
}

.photo img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .left {
        flex-direction: column;
    }

    .right {
        flex-direction: column;
    }

    .description,.photo {
        width: 100%;
    }
}
